In [1]:
import pandas as pd

In [2]:
jsonFile = pd.read_json("../TrazaPrueba2.json")

In [3]:
x = pd.json_normalize(jsonFile['data'])
groupedEvents = x.groupby('eventId')
for eid, group in groupedEvents:
    display(group)
    ##display(eid)

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
0,0,1713883738406,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,SteamMazehemGame,NaN,NaN,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
32,1,1713883884257,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,NaN,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
1,4,1713883740545,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,0.0,NaN,NaN
18,4,1713883792085,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,0.0,NaN,NaN
24,4,1713883841046,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,1.0,NaN,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
17,5,1713883787568,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,0.0,NaN,1.0
23,5,1713883841046,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,0.0,NaN,0.0
31,5,1713883878146,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,1.0,NaN,1.0

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
2,10,1713883763993,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,2.0,NaN
3,10,1713883766554,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,2.0,NaN
4,10,1713883769113,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,2.0,NaN
5,10,1713883777504,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
6,10,1713883778508,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
7,10,1713883779517,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
8,10,1713883780518,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
9,10,1713883781525,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
10,10,1713883782534,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
11,10,1713883783540,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
12,10,1713883784547,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
13,10,1713883785550,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
14,10,1713883786557,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
15,10,1713883787565,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
22,10,1713883839068,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,2.0,NaN
25,10,1713883860305,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,2.0,NaN
26,10,1713883864722,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,1.0,NaN
27,10,1713883869542,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,1.0,NaN
28,10,1713883875284,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,1.0,NaN
29,10,1713883878146,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,1.0,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
16,11,1713883787568,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,NaN,NaN
30,11,1713883878146,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,NaN,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
19,12,1713883820370,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,NaN,NaN
20,12,1713883823897,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,NaN,NaN
21,12,1713883824704,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,NaN,NaN

### Los eventos y sus ID:
- SessionStart = 0
- SessionStop = 1
- GameStart = 2
- GameEnd = 3
- LevelStart = 4
- LevelEnd = 5
- Pause = 6
- Resume = 7
- //
- Attack = 8
- EnemyReceive = 9
- PlayerReceive = 10
- PlayerDead = 11
- RoomMove = 12

# Métrica 1: Tiempo de finalización de nivel
¿El jugador tarda demasiado tiempo en completar cada uno de los dos niveles?

In [4]:
from datetime import datetime

## estoy usando los de la sesion por ahora, pero se haria con los de cada nivel.
startEvent = groupedEvents.get_group(4)
display(startEvent)
endEvent = groupedEvents.get_group(5)
display(endEvent)

# Iteramos en reversa para evitar cambios en los índices al eliminar elementos
for endi in range(len(endEvent)-1, -1, -1):
    if endEvent.iloc[endi]["LevelEnd"] != 0:
        ##valores.append((endEvent.iloc[endi]["timestamp"] - startEvent.iloc[endi]["timestamp"])/60000)
        endEvent = endEvent.drop(endEvent.index[endi])
        startEvent = startEvent.drop(startEvent.index[endi])

print("Niveles validos:")
display(startEvent)
display(endEvent)
            

a = startEvent.get("timestamp").values[0]
b = endEvent.get("timestamp").values[0]

# Convertir el timestamp de milisegundos a segundos
a_seconds = a / 1000
b_seconds = b / 1000
total_pause_time = 0
# ver si hay pausas
if 6 in groupedEvents.groups and 7 in groupedEvents.groups:
    
    pauseEvents = groupedEvents.get_group(6)
    resumeEvents = groupedEvents.get_group(7)

    for i in range(len(resumeEvents)):
        pause_time = pauseEvents.iloc[i]["timestamp"]
        resume_time = resumeEvents.iloc[i]["timestamp"]

        total_pause_time += resume_time - pause_time

# Convierte el tiempo total de pausa de milisegundos a segundos
total_pause_time_seconds = total_pause_time / 1000

# Ahora puedes restar el tiempo total de pausa del tiempo total de la sesión
session_duration = (b_seconds - a_seconds) - total_pause_time_seconds

print("Duración de la sesión con pausas descontadas: ", session_duration/60, " minutos")

print("TIME: ")
print((b_seconds - a_seconds)/60, " minutos")

# Crear objetos datetime a partir de los timestamps
dt_object_start = datetime.fromtimestamp(a_seconds)
dt_object_end = datetime.fromtimestamp(b_seconds)

# Imprimir los objetos datetime y sus tipos
print("Start time: ", dt_object_start)
print("End time: ", dt_object_end)

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
1,4,1713883740545,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,0.0,NaN,NaN
18,4,1713883792085,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,0.0,NaN,NaN
24,4,1713883841046,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,1.0,NaN,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
17,5,1713883787568,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,0.0,NaN,1.0
23,5,1713883841046,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,0.0,NaN,0.0
31,5,1713883878146,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,1.0,NaN,1.0

Niveles validos:

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
18,4,1713883792085,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,0.0,NaN,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
23,5,1713883841046,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,0.0,NaN,0.0

Duración de la sesión con pausas descontadas:  0.8160166660944621  minutos
TIME:
0.8160166660944621  minutos
Start time:  2024-04-23 16:49:52.085000
End time:  2024-04-23 16:50:41.046000

# Métrica 2: Cantidad de movimientos por nivel
¿El jugador usa demasiados movimientos de salas en cada uno de los dos niveles?

In [5]:
# FALTA AGRUPAR POR NIVELES
room_moves = groupedEvents.get_group(12)
display(room_moves)

# Se agrupan los movimientos por sesión y se cuenta el número de cada una
movements = room_moves.groupby('Session').size().reset_index(name='Movements')

print("Session movements:\n")
print(movements.to_string(index=False))

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
19,12,1713883820370,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,NaN,NaN
20,12,1713883823897,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,NaN,NaN
21,12,1713883824704,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,NaN,NaN

Session movements:

                             Session  Movements
736079cd-3fc4-4cbd-bd65-26bac72c4d22          3

# Métrica 3: Precisión de golpes a los enemigos
¿El jugador falla significativamente más ataques en el nivel 2 que en el nivel 1?

In [6]:
# FALTA AGRUPAR POR NIVELES
# Verificar si los grupos existen antes de acceder a ellos
if 8 in groupedEvents.groups:
    attack = groupedEvents.get_group(8)
    enemy_receive = groupedEvents.get_group(9) if 9 in groupedEvents.groups else None
    
    display(attack)
    display(enemy_receive)

    # Se agrupan los ataques realizados y los recibidos por los enemigos y se cuenta el número de cada uno
    attack_count = attack.groupby('Session').size().reset_index(name='Total Attacks')
    
    # Si el grupo 9 existe, contamos los aciertos; de lo contrario, asumimos que son 0
    if enemy_receive is not None:
        hit_count = enemy_receive.groupby('Session').size().reset_index(name='Total Hits')
    else:
        hit_count = pd.DataFrame({'Session': attack_count['Session'], 'Total Hits': 0})
    
    # Agrupar los datos en un único dataframe
    accuracy = pd.merge(attack_count, hit_count, on='Session', how='left')
    accuracy['Total Hits'] = accuracy['Total Hits'].fillna(0)

    # Calcular la precisión de los golpes
    accuracy['Accuracy'] = (accuracy['Total Hits'] / accuracy['Total Attacks']) * 100
    accuracy['Accuracy'] = accuracy['Accuracy'].apply(lambda x: f"{x:.3f}%")

    print("Hit accuracy:\n")
    print(accuracy[['Session', 'Accuracy']].to_string(index=False))
else:
    print("El grupo 8 no existe en el DataFrame 'groupedEvents'. No se pueden calcular las estadísticas.")

El grupo 8 no existe en el DataFrame 'groupedEvents'. No se pueden calcular las estadísticas.

# Métrica 4: Impactos de los elementos dañinos
¿Es coherente la variación del daño provocado por cada elemento dañino a lo largo de los dos niveles?

In [7]:
# FALTA AGRUPAR POR NIVELES
player_receive = groupedEvents.get_group(10)
display(player_receive)

# Se agrupan los impactos por sesión y tipo de enemigo y se cuenta el número de cada una
impact_count = player_receive.groupby(['Session', 'EnemyType']).size().reset_index(name='Impacts')

# Impactos totales por sesión
total_impact_count = player_receive.groupby('Session').size().reset_index(name='Total Impacts')

# Agrupar los datos en un único dataframe
impact_count = impact_count.merge(total_impact_count, on='Session', how='left')

# Calcular el porcentaje de impactos provocados por cada tipo de enemigo
impact_count['Enemy Percentage'] = (impact_count['Impacts'] / impact_count['Total Impacts']) * 100
impact_count['Enemy Percentage'].fillna(0, inplace=True)
impact_count['Enemy Percentage'] = impact_count['Enemy Percentage'].apply(lambda x: f"{x:.3f}%")

print("Enemy impacts:\n")
print(impact_count[['Session', 'EnemyType', 'Impacts', 'Enemy Percentage']].to_string(index=False))
print("\nTotal impacts: ", impact_count['Impacts'].sum())

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
2,10,1713883763993,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,2.0,NaN
3,10,1713883766554,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,2.0,NaN
4,10,1713883769113,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,2.0,NaN
5,10,1713883777504,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
6,10,1713883778508,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
7,10,1713883779517,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
8,10,1713883780518,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
9,10,1713883781525,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
10,10,1713883782534,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
11,10,1713883783540,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
12,10,1713883784547,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
13,10,1713883785550,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
14,10,1713883786557,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
15,10,1713883787565,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,0.0,NaN
22,10,1713883839068,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,2.0,NaN
25,10,1713883860305,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,2.0,NaN
26,10,1713883864722,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,1.0,NaN
27,10,1713883869542,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,1.0,NaN
28,10,1713883875284,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,1.0,NaN
29,10,1713883878146,736079cd-3fc4-4cbd-bd65-26bac72c4d22,18f00738-4913-4313-8a1d-c98b98045bf4,NaN,NaN,1.0,NaN

Enemy impacts:

                             Session  EnemyType  Impacts Enemy Percentage
736079cd-3fc4-4cbd-bd65-26bac72c4d22        0.0       11          55.000%
736079cd-3fc4-4cbd-bd65-26bac72c4d22        1.0        4          20.000%
736079cd-3fc4-4cbd-bd65-26bac72c4d22        2.0        5          25.000%

Total impacts:  20