In [15]:
import pandas as pd

In [16]:
jsonFile = pd.read_json("./MyFile5.json")

In [17]:
x = pd.json_normalize(jsonFile['data'])
groupedEvents = x.groupby('eventId')
for eid, group in groupedEvents:
    display(group)
    ##display(eid)

,eventId,timestamp,Session,User,Game,EnemyType
0,0,1713770965601,f5d36ac5-567a-420a-8ab9-07640707324a,9cfa91cf-11a7-42ba-89b1-bff2b3a3c1bc,SteamMazehemGame,NaN

,eventId,timestamp,Session,User,Game,EnemyType
9,1,1713771100059,f5d36ac5-567a-420a-8ab9-07640707324a,9cfa91cf-11a7-42ba-89b1-bff2b3a3c1bc,NaN,NaN

,eventId,timestamp,Session,User,Game,EnemyType
1,10,1713771078241,f5d36ac5-567a-420a-8ab9-07640707324a,9cfa91cf-11a7-42ba-89b1-bff2b3a3c1bc,NaN,2.0

,eventId,timestamp,Session,User,Game,EnemyType
2,12,1713771085388,f5d36ac5-567a-420a-8ab9-07640707324a,9cfa91cf-11a7-42ba-89b1-bff2b3a3c1bc,NaN,NaN
3,12,1713771086027,f5d36ac5-567a-420a-8ab9-07640707324a,9cfa91cf-11a7-42ba-89b1-bff2b3a3c1bc,NaN,NaN
4,12,1713771086914,f5d36ac5-567a-420a-8ab9-07640707324a,9cfa91cf-11a7-42ba-89b1-bff2b3a3c1bc,NaN,NaN
5,12,1713771088014,f5d36ac5-567a-420a-8ab9-07640707324a,9cfa91cf-11a7-42ba-89b1-bff2b3a3c1bc,NaN,NaN
6,12,1713771088808,f5d36ac5-567a-420a-8ab9-07640707324a,9cfa91cf-11a7-42ba-89b1-bff2b3a3c1bc,NaN,NaN
7,12,1713771090301,f5d36ac5-567a-420a-8ab9-07640707324a,9cfa91cf-11a7-42ba-89b1-bff2b3a3c1bc,NaN,NaN
8,12,1713771092064,f5d36ac5-567a-420a-8ab9-07640707324a,9cfa91cf-11a7-42ba-89b1-bff2b3a3c1bc,NaN,NaN

### Los eventos y sus ID:
- SessionStart = 0
- SessionStop = 1
- GameStart = 2
- GameEnd = 3
- LevelStart = 4
- LevelEnd = 5
- Pause = 6
- Resume = 7
- //
- Attack = 8
- EnemyReceive = 9
- PlayerReceive = 10
- PlayerDead = 11
- RoomMove = 12

# Métrica 1: Tiempo de finalización de nivel
¿El jugador tarda demasiado tiempo en completar cada uno de los dos niveles?

In [18]:
from datetime import datetime

## estoy usando los de la sesion por ahora, pero se haria con los de cada nivel.
startEvent = groupedEvents.get_group(0)
display(startEvent)
endEvent = groupedEvents.get_group(1)
display(endEvent)

a = startEvent.get("timestamp").values[0]
b = endEvent.get("timestamp").values[0]

# Convertir el timestamp de milisegundos a segundos
a_seconds = a / 1000
b_seconds = b / 1000

print("TIME: ")
print((b_seconds - a_seconds)/60, " minutos")

# Crear objetos datetime a partir de los timestamps
dt_object_start = datetime.fromtimestamp(a_seconds)
dt_object_end = datetime.fromtimestamp(b_seconds)

# Imprimir los objetos datetime y sus tipos
print("Start time: ", dt_object_start)
print("End time: ", dt_object_end)

,eventId,timestamp,Session,User,Game,EnemyType
0,0,1713770965601,f5d36ac5-567a-420a-8ab9-07640707324a,9cfa91cf-11a7-42ba-89b1-bff2b3a3c1bc,SteamMazehemGame,NaN

,eventId,timestamp,Session,User,Game,EnemyType
9,1,1713771100059,f5d36ac5-567a-420a-8ab9-07640707324a,9cfa91cf-11a7-42ba-89b1-bff2b3a3c1bc,NaN,NaN

TIME:
2.2409666657447813  minutos
Start time:  2024-04-22 09:29:25.601000
End time:  2024-04-22 09:31:40.059000

# Métrica 2: Cantidad de movimientos por nivel
¿El jugador usa demasiados movimientos de salas en cada uno de los dos niveles?

In [26]:
# FALTA AGRUPAR POR NIVELES
room_moves = groupedEvents.get_group(12)

# Se agrupan los movimientos por sesión y se cuenta el número de cada una
movements = room_moves.groupby('Session').size().reset_index(name='Movements')

print("Session movements:\n")
print(movements.to_string(index=False))

KeyError: 'levelId'

# Métrica 3: Precisión de golpes a los enemigos
¿El jugador falla significativamente más ataques en el nivel 2 que en el nivel 1?

# Métrica 4: Impactos de los elementos dañinos
¿Es coherente la variación del daño provocado por cada elemento dañino a lo largo de los dos niveles?