In [1]:
import pandas as pd

In [2]:
jsonFile = pd.read_json("./JSONS/Traza_19b52d7f-a373-458a-a38a-a944790fb7a1.json")

In [3]:
x = pd.json_normalize(jsonFile['data'])
groupedEvents = x.groupby('eventType')
for eid, group in groupedEvents:
    display(group)
    ##display(eid)

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
0,0,f4ca0c80-b0e0-40f5-afa3-1677a4dba00e,1713957372713,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,SteamMazehemGame,NaN,NaN,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
39,1,29d0f303-725d-4ab7-8a3f-0f8d2ced6c2a,1713957514654,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,NaN,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
1,2,aeb96035-db84-4f11-aa2f-262ecec58655,1713957374085,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,NaN,NaN,NaN,NaN
16,2,d515a84c-a8a4-4ed5-be41-cedb589845f6,1713957416692,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,NaN,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
13,3,f17a16f2-a2cb-4137-833b-c0644d49fc95,1713957412374,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,NaN,NaN,NaN,NaN
15,3,a86ecbd9-106c-4b5c-af48-728510abaca6,1713957412374,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,NaN,NaN,NaN,NaN
36,3,fef8c325-e23a-43ff-836b-f559e9a6ef99,1713957510384,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,NaN,NaN,NaN,NaN
38,3,9831ff40-6191-428f-a924-1b482e9d4e85,1713957510384,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,NaN,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
2,4,10e1bc10-c764-4020-b574-89f8f387d5a4,1713957374085,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,da9ee8e2-39ae-47c7-913d-82bf5a995d92,NaN,NaN,NaN
17,4,e1fbd460-01e3-4617-932a-bb3670770607,1713957416692,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,NaN
22,4,4145d356-67bc-4cbd-81cd-79f5c4c569ea,1713957471933,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,2.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
12,5,366502ff-10c1-4abc-b296-8f0391a0f495,1713957412374,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,da9ee8e2-39ae-47c7-913d-82bf5a995d92,NaN,NaN,1.0
14,5,262244e5-ce87-402d-b725-68ef720872a8,1713957412374,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,00000000-0000-0000-0000-000000000000,NaN,NaN,2.0
21,5,ca6707e0-cf60-42ca-a489-f911a1d5e0e6,1713957471933,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,0.0
35,5,6ffc71bf-ad99-4207-b4dc-36c720193893,1713957510384,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,2.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,1.0
37,5,6a8548bc-4892-403f-81df-d8d8951a51de,1713957510384,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,2.0,00000000-0000-0000-0000-000000000000,NaN,NaN,2.0

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
4,10,ec7985f5-3ba2-4503-8dfb-caedf5d0ba1c,1713957397515,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,da9ee8e2-39ae-47c7-913d-82bf5a995d92,1.0,2.0,NaN
5,10,581d0c75-5b54-4c5f-89e1-02a565c606f7,1713957399574,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,da9ee8e2-39ae-47c7-913d-82bf5a995d92,1.0,2.0,NaN
6,10,8ac500e9-0cb9-4fb9-9515-3a16855a2e25,1713957402135,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,da9ee8e2-39ae-47c7-913d-82bf5a995d92,1.0,2.0,NaN
7,10,6aabe6ee-0da0-4699-94f6-5e8ff903f03e,1713957405255,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,da9ee8e2-39ae-47c7-913d-82bf5a995d92,1.0,2.0,NaN
8,10,ded38b9b-34cf-459d-8922-be97726b6f95,1713957407756,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,da9ee8e2-39ae-47c7-913d-82bf5a995d92,1.0,2.0,NaN
9,10,507236a2-ae25-4a3f-861e-dd4e3a15adc8,1713957409814,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,da9ee8e2-39ae-47c7-913d-82bf5a995d92,1.0,2.0,NaN
10,10,0401c462-e3e1-4b02-ae4f-21a7088a21b2,1713957412373,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,da9ee8e2-39ae-47c7-913d-82bf5a995d92,1.0,2.0,NaN
29,10,273d14fe-56f4-4272-923e-fcf81223fdeb,1713957496503,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,2.0,2.0,NaN
30,10,fb56ab54-d2ab-42ea-97a3-9a830c3c0270,1713957499384,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,2.0,2.0,NaN
31,10,bbf8bbc1-1a0b-4750-a2b6-ce7a65446c7a,1713957501764,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,2.0,1.0,NaN
32,10,f9ea6af8-704c-41a9-92dd-453731b2b467,1713957505365,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,2.0,1.0,NaN
33,10,8ae44180-339d-46eb-a39e-2c484a621fb8,1713957510384,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,2.0,1.0,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
11,11,68a90a01-d72d-4e93-85d9-ceed8e7a8d9a,1713957412374,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,da9ee8e2-39ae-47c7-913d-82bf5a995d92,1.0,NaN,NaN
34,11,ae5ab016-ce4d-484a-b511-de7b1c17c386,1713957510384,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,2.0,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
3,12,5a784ba5-560e-441d-9927-251a3e197ba4,1713957395407,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,da9ee8e2-39ae-47c7-913d-82bf5a995d92,1.0,NaN,NaN
18,12,41fba458-f7fb-47ef-80af-36f2dad7e72a,1713957448598,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,1.0,NaN,NaN
19,12,9cdbd4b0-80ba-4b0f-ade2-4ec005cbb480,1713957454957,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,1.0,NaN,NaN
20,12,f911aad8-2542-4a4a-bc1a-568ea79fc3f5,1713957456069,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,1.0,NaN,NaN
23,12,8b5ed931-991e-4268-bd4a-0f11aaed0509,1713957491158,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,2.0,NaN,NaN
24,12,c29ca988-9629-45e2-aabe-98cc151dbb40,1713957492005,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,2.0,NaN,NaN
25,12,de4972ac-af39-47cc-8829-9c16945b6ae4,1713957492734,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,2.0,NaN,NaN
26,12,38d67ef3-0217-484c-a42b-ad27d5159f58,1713957493407,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,2.0,NaN,NaN
27,12,7f813d2b-97c8-466e-adf4-b0ffc09c1456,1713957494151,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,2.0,NaN,NaN
28,12,affa35b0-99ce-47e6-890c-f10374d17efe,1713957495037,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,NaN,24005d9a-0db2-4c15-9667-6792cb531074,2.0,NaN,NaN

### Los eventos y sus ID:
- SessionStart = 0
- SessionStop = 1
- GameStart = 2
- GameEnd = 3
- LevelStart = 4
- LevelEnd = 5
- Pause = 6
- Resume = 7
- //
- Attack = 8
- EnemyReceive = 9
- PlayerReceive = 10
- PlayerDead = 11
- RoomMove = 12

# Métrica 1: Tiempo de finalización de nivel
¿El jugador tarda demasiado tiempo en completar cada uno de los dos niveles?

In [9]:
from datetime import datetime

## estoy usando los de la sesion por ahora, pero se haria con los de cada nivel.
startEvent = groupedEvents.get_group(4)
display(startEvent)
endEvent = groupedEvents.get_group(5)
display(endEvent)
     
##a = startEvent.get("timestamp").values[0]
##b = endEvent.get("timestamp").values[0]


##a_seconds = a / 1000
##b_seconds = b / 1000
##print("Total: ")
##print((b_seconds - a_seconds), " segundos")

##dt_object_start = datetime.fromtimestamp(a_seconds)
##dt_object_end = datetime.fromtimestamp(b_seconds)

##print("Start time: ", dt_object_start)
##print("End time: ", dt_object_end)

endEvent_filtered = endEvent[endEvent['LevelEnd'] == 0]

# Comparar los eventos filtrados con startEvent
startEvent_filtered = startEvent[startEvent['LevelID'].isin(endEvent_filtered['LevelID']) & startEvent['GameSession'].isin(endEvent_filtered['GameSession'])]


print("Eventos de inicio (startEvent) después de filtrar por causa 0 en endEvent:\n")
display(startEvent_filtered)

print("Eventos de fin (endEvent) después de filtrar por causa 0 en endEvent:\n")
display(endEvent_filtered)
if len(startEvent) < len(endEvent):
    endEvent = endEvent.drop(endEvent.index[len(endEvent) - 1])

for a in range(len(startEvent)-1, -1, -1):
    if endEvent.iloc[a]["LevelEnd"] == 1:
        endEvent = endEvent.drop(endEvent.index[a])
        startEvent = startEvent.drop(startEvent.index[a])
    elif endEvent.iloc[a]["LevelEnd"] == 2:
        endEvent = endEvent.drop(endEvent.index[a])

if len(startEvent) > 0:        
    print("Niveles validos:")
    display(startEvent)
    display(endEvent)
    
    total_pause_time = 0
    
    if 6 in groupedEvents.groups and 7 in groupedEvents.groups:

        pauseEvents = groupedEvents.get_group(6)
        resumeEvents = groupedEvents.get_group(7)

        for i in range(len(resumeEvents)):
            pause_time = pauseEvents.iloc[i]["timestamp"]
            resume_time = resumeEvents.iloc[i]["timestamp"]

            total_pause_time += resume_time - pause_time

    
    total_pause_time_seconds = total_pause_time / 1000

    
    session_duration = (b_seconds - a_seconds) - total_pause_time_seconds

    print("Duración de la sesión con pausas descontadas: ", session_duration/60, " minutos")

else:
    print("Error: no hay niveles válidos para analizar")

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
2,4,10e1bc10-c764-4020-b574-89f8f387d5a4,1713957374085,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,da9ee8e2-39ae-47c7-913d-82bf5a995d92,NaN,NaN,NaN
17,4,e1fbd460-01e3-4617-932a-bb3670770607,1713957416692,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,NaN
22,4,4145d356-67bc-4cbd-81cd-79f5c4c569ea,1713957471933,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,2.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
12,5,366502ff-10c1-4abc-b296-8f0391a0f495,1713957412374,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,da9ee8e2-39ae-47c7-913d-82bf5a995d92,NaN,NaN,1.0
14,5,262244e5-ce87-402d-b725-68ef720872a8,1713957412374,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,00000000-0000-0000-0000-000000000000,NaN,NaN,2.0
21,5,ca6707e0-cf60-42ca-a489-f911a1d5e0e6,1713957471933,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,0.0
35,5,6ffc71bf-ad99-4207-b4dc-36c720193893,1713957510384,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,2.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,1.0
37,5,6a8548bc-4892-403f-81df-d8d8951a51de,1713957510384,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,2.0,00000000-0000-0000-0000-000000000000,NaN,NaN,2.0

Eventos de inicio (startEvent) después de filtrar por causa 0 en endEvent:

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
17,4,e1fbd460-01e3-4617-932a-bb3670770607,1713957416692,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,NaN

Eventos de fin (endEvent) después de filtrar por causa 0 en endEvent:

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
21,5,ca6707e0-cf60-42ca-a489-f911a1d5e0e6,1713957471933,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,0.0

Niveles validos:

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
17,4,e1fbd460-01e3-4617-932a-bb3670770607,1713957416692,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,NaN
22,4,4145d356-67bc-4cbd-81cd-79f5c4c569ea,1713957471933,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,2.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,EnemyType,LevelEnd
21,5,ca6707e0-cf60-42ca-a489-f911a1d5e0e6,1713957471933,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,1.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,0.0
35,5,6ffc71bf-ad99-4207-b4dc-36c720193893,1713957510384,19b52d7f-a373-458a-a38a-a944790fb7a1,1e4ba792-ca56-4e76-91da-d65802e5482b,NaN,2.0,24005d9a-0db2-4c15-9667-6792cb531074,NaN,NaN,1.0

NameError: name 'b_seconds' is not defined

# Métrica 2: Cantidad de movimientos por nivel
¿El jugador usa demasiados movimientos de salas en cada uno de los dos niveles?

In [ ]:
# FALTA AGRUPAR POR NIVELES
room_moves = groupedEvents.get_group(12)
display(room_moves)

# Se agrupan los movimientos por sesión y se cuenta el número de cada una
movements = room_moves.groupby('Session').size().reset_index(name='Movements')
endEventSessions = endEvent['Session'].unique()
display(endEventSessions)
print("Session movements:\n")
print(movements.to_string(index=False))

# Métrica 3: Precisión de golpes a los enemigos
¿El jugador falla significativamente más ataques en el nivel 2 que en el nivel 1?

In [ ]:
# FALTA AGRUPAR POR NIVELES
# Verificar si los grupos existen antes de acceder a ellos
if 8 in groupedEvents.groups:
    attack = groupedEvents.get_group(8)
    enemy_receive = groupedEvents.get_group(9) if 9 in groupedEvents.groups else None
    
    display(attack)
    display(enemy_receive)

    # Se agrupan los ataques realizados y los recibidos por los enemigos y se cuenta el número de cada uno
    attack_count = attack.groupby('Session').size().reset_index(name='Total Attacks')
    
    # Si el grupo 9 existe, contamos los aciertos; de lo contrario, asumimos que son 0
    if enemy_receive is not None:
        hit_count = enemy_receive.groupby('Session').size().reset_index(name='Total Hits')
    else:
        hit_count = pd.DataFrame({'Session': attack_count['Session'], 'Total Hits': 0})
    
    # Agrupar los datos en un único dataframe
    accuracy = pd.merge(attack_count, hit_count, on='Session', how='left')
    accuracy['Total Hits'] = accuracy['Total Hits'].fillna(0)

    # Calcular la precisión de los golpes
    accuracy['Accuracy'] = (accuracy['Total Hits'] / accuracy['Total Attacks']) * 100
    accuracy['Accuracy'] = accuracy['Accuracy'].apply(lambda x: f"{x:.3f}%")

    print("Hit accuracy:\n")
    print(accuracy[['Session', 'Accuracy']].to_string(index=False))
else:
    print("El grupo 8 no existe en el DataFrame 'groupedEvents'. No se pueden calcular las estadísticas.")

# Métrica 4: Impactos de los elementos dañinos
¿Es coherente la variación del daño provocado por cada elemento dañino a lo largo de los dos niveles?

In [ ]:
# FALTA AGRUPAR POR NIVELES
player_receive = groupedEvents.get_group(10)
display(player_receive)

# Se agrupan los impactos por sesión y tipo de enemigo y se cuenta el número de cada una
impact_count = player_receive.groupby(['Session', 'EnemyType']).size().reset_index(name='Impacts')

# Impactos totales por sesión
total_impact_count = player_receive.groupby('Session').size().reset_index(name='Total Impacts')

# Agrupar los datos en un único dataframe
impact_count = impact_count.merge(total_impact_count, on='Session', how='left')

# Calcular el porcentaje de impactos provocados por cada tipo de enemigo
impact_count['Enemy Percentage'] = (impact_count['Impacts'] / impact_count['Total Impacts']) * 100
impact_count['Enemy Percentage'].fillna(0, inplace=True)
impact_count['Enemy Percentage'] = impact_count['Enemy Percentage'].apply(lambda x: f"{x:.3f}%")

print("Enemy impacts:\n")
print(impact_count[['Session', 'EnemyType', 'Impacts', 'Enemy Percentage']].to_string(index=False))
print("\nTotal impacts: ", impact_count['Impacts'].sum())