# Documento de análisis de métricas

En este documento de jupyter notebook vamos a analizar las métricas propuestas en el **Documento de investigación**

Para ello se va a empezar uniendo todos los jsons que hay en la carpeta **./JSONS** en un solo json, tras ello se harán los cálculos correspondientes.

In [1]:
import pandas as pd

In [37]:
jsonFile = pd.read_json("./JSONS/Traza_aae43267-3c23-4d93-8a08-fde5946188b1.json")

In [38]:
x = pd.json_normalize(jsonFile['data'])
groupedEvents = x.groupby('eventType')
for eid, group in groupedEvents:
    display(group)
    ##display(eid)

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
0,0,dc7896e7-a30a-49be-b6b2-0ceaa49a62a5,1714047215899,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,SteamMazehemGame,NaN,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
13,1,380390e8-c089-4742-bf42-11ddf579bbf2,1714047298349,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,NaN,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
1,2,1b35d59b-d1e6-42c8-baf5-29891b717c49,1714047219330,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,NaN,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
12,3,6804def0-e635-44d5-8e59-6984e5a35346,1714047297414,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,NaN,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
2,4,e30ca69c-0e4c-4d3e-aad2-0f927aadb42a,1714047219330,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,1.0,355c070d-47b4-4efa-8b0b-23cce83a0472,NaN,NaN
9,4,8e98a257-83fb-4bea-895d-f3e2492f7932,1714047278775,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,2.0,355c070d-47b4-4efa-8b0b-23cce83a0472,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
8,5,37c7ddc2-ca2b-468c-84b6-e530c3d4384a,1714047278775,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,1.0,355c070d-47b4-4efa-8b0b-23cce83a0472,NaN,0.0
11,5,071313ce-ebca-426c-a944-64fd4e56bddb,1714047297414,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,2.0,355c070d-47b4-4efa-8b0b-23cce83a0472,NaN,2.0

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
3,6,c0b599d0-b8c3-43a3-b305-1dda55f8064f,1714047239166,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,NaN,NaN,NaN,NaN
10,6,c69dc111-58e3-4ed6-8ebd-40e46e508f94,1714047296368,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,NaN,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
4,7,a2b470cf-e0d7-4ba0-afb2-dbea7fba78c9,1714047258087,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,NaN,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
5,12,6d3628a3-d320-4fd5-9ebf-1d08c4fdbad6,1714047263962,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,NaN,355c070d-47b4-4efa-8b0b-23cce83a0472,1.0,NaN
6,12,d2dd1c95-6de7-4901-a7dc-9a7c2d5f0fe8,1714047268893,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,NaN,355c070d-47b4-4efa-8b0b-23cce83a0472,1.0,NaN
7,12,5e66599b-3891-4c67-8101-1e245a994176,1714047269261,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,NaN,355c070d-47b4-4efa-8b0b-23cce83a0472,1.0,NaN

### Los eventos y sus ID:
```C#
//Eventos comunes
 SessionStart = 0
 SessionStop = 1
 GameStart = 2
 GameEnd = 3
 LevelStart = 4
 LevelEnd = 5
 Pause = 6
 Resume = 7
 // Eventos de juego
 Attack = 8
 EnemyReceive = 9
 PlayerReceive = 10
 PlayerDead = 11
 RoomMove = 12
```

# Métrica 1: Tiempo de finalización de nivel
¿El jugador tarda demasiado tiempo en completar cada uno de los dos niveles?

In [54]:
from datetime import datetime

## estoy usando los de la sesion por ahora, pero se haria con los de cada nivel.
startEvent = groupedEvents.get_group(4)
#display(startEvent)
endEvent = groupedEvents.get_group(5)
#display(endEvent)
     
endEvent_filtered = endEvent[endEvent['LevelEnd'] == 0]


startEvent_filtered = startEvent[startEvent['LevelID'].isin(endEvent_filtered['LevelID']) & startEvent['GameSession'].isin(endEvent_filtered['GameSession'])]
endEvent_filtered = endEvent_filtered.copy()

endEvent_filtered.loc[:, 'combined'] = endEvent_filtered['LevelID'].astype(str) + '-' + endEvent_filtered['GameSession'].astype(str)
startEvent = startEvent.copy()

startEvent.loc[:, 'combined'] = startEvent['LevelID'].astype(str) + '-' + startEvent['GameSession'].astype(str)


startEvent_filtered = startEvent[startEvent['combined'].isin(endEvent_filtered['combined'])]


del startEvent_filtered['combined']
del endEvent_filtered['combined']
print("Eventos de inicio de niveles completados:\n")
display(startEvent_filtered)

print("Eventos de fin de niveles completados:\n")
display(endEvent_filtered) 

durations = []
for i in range(len(startEvent_filtered)):
    start_time = startEvent_filtered.iloc[i]['timestamp']
    end_time = endEvent_filtered.iloc[i]['timestamp']
    total_pause_duration = 0
    if 6 in groupedEvents.groups and 7 in groupedEvents.groups:
        pauseEvents = groupedEvents.get_group(6)
        resumeEvents = groupedEvents.get_group(7)
        #Filtrar pausas
        pauses_in_range = pauseEvents[(pauseEvents['timestamp'] >= start_time) & (pauseEvents['timestamp'] <= end_time)]
        resumes_in_range = resumeEvents[(resumeEvents['timestamp'] >= start_time) & (resumeEvents['timestamp'] <= end_time)]
        display(pauses_in_range)
        display(resumes_in_range)
        #Sumar tiempo pausa
        for j in range(len(pauses_in_range)):
            pause_time = pauses_in_range.iloc[j]['timestamp']
            resume_time = resumes_in_range.iloc[j]['timestamp']
            pause_duration = resume_time - pause_time
            total_pause_duration += pause_duration
            
    a_seconds = start_time / 1000
    b_seconds = end_time / 1000
    total_pause_duration= total_pause_duration / 1000
    duration = b_seconds - a_seconds- total_pause_duration
    durations.append(duration)

print("Duraciones de todos los eventos: ")
print(durations)

startEvent_filtered = startEvent_filtered.copy()
startEvent_filtered['duration'] = durations

#Separar los eventos por nivel
level1_events = startEvent_filtered[startEvent_filtered['LevelID'] == 1]
level2_events = startEvent_filtered[startEvent_filtered['LevelID'] == 2]

#Media de las duraciones para cada nivel
mean_duration_level1 = level1_events['duration'].mean()
mean_duration_level2 = level2_events['duration'].mean()

print("Media de las duraciones del nivel 1: ", mean_duration_level1)
print("Media de las duraciones del nivel 2: ", mean_duration_level2)
del startEvent_filtered['duration']

##dt_object_start = datetime.fromtimestamp(a_seconds)
##dt_object_end = datetime.fromtimestamp(b_seconds)

##print("Start time: ", dt_object_start)
##print("End time: ", dt_object_end)

Eventos de inicio de niveles completados:

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
2,4,e30ca69c-0e4c-4d3e-aad2-0f927aadb42a,1714047219330,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,1.0,355c070d-47b4-4efa-8b0b-23cce83a0472,NaN,NaN

Eventos de fin de niveles completados:

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
8,5,37c7ddc2-ca2b-468c-84b6-e530c3d4384a,1714047278775,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,1.0,355c070d-47b4-4efa-8b0b-23cce83a0472,NaN,0.0

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
3,6,c0b599d0-b8c3-43a3-b305-1dda55f8064f,1714047239166,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,NaN,NaN,NaN,NaN

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd
4,7,a2b470cf-e0d7-4ba0-afb2-dbea7fba78c9,1714047258087,aae43267-3c23-4d93-8a08-fde5946188b1,3cae949b-ddb0-4d22-ab07-a7c9650a72ec,NaN,NaN,NaN,NaN,NaN

Duraciones de todos los eventos:
[40.52400017166138]
Media de las duraciones del nivel 1:  40.52400017166138
Media de las duraciones del nivel 2:  nan

# Métrica 2: Cantidad de movimientos por nivel
¿El jugador usa demasiados movimientos de salas en cada uno de los dos niveles?

In [53]:
#Eventos de movimiento de sala
room_moves = groupedEvents.get_group(12)

#Agrupar los movimientos por sesión y nivel
movements = room_moves.groupby(['GameSession', 'Level']).size().reset_index(name='Movements')

#Obtener las sesiones únicas de los eventos de fin
endEventSessions = endEvent_filtered['GameSession'].unique()

#Filtrar los movimientos que pertenecen a una sesión de juego completada
completed_movements = movements[movements['GameSession'].isin(endEventSessions)]

#LevelIDs de los eventos completados
completed_levels = endEvent_filtered[endEvent_filtered['LevelEnd'] == 0]['LevelID'].unique()

print("Movimientos de sesión completados por niveles:\n")
display(completed_movements)

#Level 1
filtered_movements_1 = completed_movements[completed_movements['Level'] == 1.0]

mean_movements_1 = filtered_movements_1['Movements'].mean()

#Level 2
filtered_movements_2 = completed_movements[completed_movements['Level'] == 2.0]

mean_movements_2 = filtered_movements_0['Movements'].mean()

print(f"La media de movimientos de sala para el nivel 1 es: {mean_movements_1}")
print(f"La media de movimientos de sala para el nivel 2 es: {mean_movements_2}")

Movimientos de sesión completados por niveles:

                            GameSession  Level  Movements
0  355c070d-47b4-4efa-8b0b-23cce83a0472    1.0          3

La media de movimientos de sala para el nivel 1 es: 3.0
La media de movimientos de sala para el nivel 2 es: 7.0

# Métrica 3: Precisión de golpes a los enemigos
¿El jugador falla significativamente más ataques en el nivel 2 que en el nivel 1?

In [38]:
# FALTA AGRUPAR POR NIVELES
# Verificar si los grupos existen antes de acceder a ellos
if 8 in groupedEvents.groups:
    attack = groupedEvents.get_group(8)
    enemy_receive = groupedEvents.get_group(9) if 9 in groupedEvents.groups else None
    
    display(attack)
    display(enemy_receive)

    # Se agrupan los ataques realizados y los recibidos por los enemigos y se cuenta el número de cada uno
    attack_count = attack.groupby('Session').size().reset_index(name='Total Attacks')
    
    # Si el grupo 9 existe, contamos los aciertos; de lo contrario, asumimos que son 0
    if enemy_receive is not None:
        hit_count = enemy_receive.groupby('Session').size().reset_index(name='Total Hits')
    else:
        hit_count = pd.DataFrame({'Session': attack_count['Session'], 'Total Hits': 0})
    
    # Agrupar los datos en un único dataframe
    accuracy = pd.merge(attack_count, hit_count, on='Session', how='left')
    accuracy['Total Hits'] = accuracy['Total Hits'].fillna(0)

    # Calcular la precisión de los golpes
    accuracy['Accuracy'] = (accuracy['Total Hits'] / accuracy['Total Attacks']) * 100
    accuracy['Accuracy'] = accuracy['Accuracy'].apply(lambda x: f"{x:.3f}%")

    print("Hit accuracy:\n")
    print(accuracy[['Session', 'Accuracy']].to_string(index=False))
else:
    print("El grupo 8 no existe en el DataFrame 'groupedEvents'. No se pueden calcular las estadísticas.")

El grupo 8 no existe en el DataFrame 'groupedEvents'. No se pueden calcular las estadísticas.

# Métrica 4: Impactos de los elementos dañinos
¿Es coherente la variación del daño provocado por cada elemento dañino a lo largo de los dos niveles?

In [25]:
# FALTA AGRUPAR POR NIVELES
player_receive = groupedEvents.get_group(10)
display(player_receive)

# Se agrupan los impactos por sesión y tipo de enemigo y se cuenta el número de cada una
impact_count = player_receive.groupby(['Session', 'EnemyType']).size().reset_index(name='Impacts')

# Impactos totales por sesión
total_impact_count = player_receive.groupby('Session').size().reset_index(name='Total Impacts')

# Agrupar los datos en un único dataframe
impact_count = impact_count.merge(total_impact_count, on='Session', how='left')

# Calcular el porcentaje de impactos provocados por cada tipo de enemigo
impact_count['Enemy Percentage'] = (impact_count['Impacts'] / impact_count['Total Impacts']) * 100
impact_count['Enemy Percentage'].fillna(0, inplace=True)
impact_count['Enemy Percentage'] = impact_count['Enemy Percentage'].apply(lambda x: f"{x:.3f}%")

print("Enemy impacts:\n")
print(impact_count[['Session', 'EnemyType', 'Impacts', 'Enemy Percentage']].to_string(index=False))
print("\nTotal impacts: ", impact_count['Impacts'].sum())

,eventType,IDEvent,timestamp,Session,User,Game,LevelID,GameSession,Level,LevelEnd,EnemyType
15,10,d0a662f9-dc83-4d7f-adf9-343f772e4e8d,1714033555889,46569526-484f-4e7b-a1e0-8055a408488b,9884095e-25c9-49d9-a702-5679290718dc,NaN,NaN,67fb09f7-ab4a-49a2-adee-0eb40a628052,2.0,NaN,0.0
16,10,e4c732e9-ff95-4f7e-a50e-7527b228dde7,1714033559748,46569526-484f-4e7b-a1e0-8055a408488b,9884095e-25c9-49d9-a702-5679290718dc,NaN,NaN,67fb09f7-ab4a-49a2-adee-0eb40a628052,2.0,NaN,2.0

Enemy impacts:

                             Session  EnemyType  Impacts Enemy Percentage
46569526-484f-4e7b-a1e0-8055a408488b        0.0        1          50.000%
46569526-484f-4e7b-a1e0-8055a408488b        2.0        1          50.000%

Total impacts:  2