In [21]:
import pandas as pd

In [22]:
jsonFile = pd.read_json("U:hlocal/uaj/UAJ-23-24-G04-Juego/MyFile5.json")

In [34]:
x = pd.json_normalize(jsonFile['data'])
groupedEvents = x.groupby('eventId')
for eid, group in groupedEvents:
    ##display(eid)
    display(group)

,eventId,timestamp,Session,User,Game,EnemyType
0,0,1713449564591,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,SteamMazehemGame,NaN

,eventId,timestamp,Session,User,Game,EnemyType
36,1,1713449660997,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN

,eventId,timestamp,Session,User,Game,EnemyType
1,8,1713449597206,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
6,8,1713449608958,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
10,8,1713449610341,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
12,8,1713449611485,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
14,8,1713449612933,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
16,8,1713449614061,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
18,8,1713449615540,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
22,8,1713449629925,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
25,8,1713449631037,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
27,8,1713449632693,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
28,8,1713449636533,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
29,8,1713449637549,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
31,8,1713449640012,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
34,8,1713449641022,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN

,eventId,timestamp,Session,User,Game,EnemyType
7,9,1713449608958,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
11,9,1713449610341,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
15,9,1713449612933,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
17,9,1713449614061,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
19,9,1713449615540,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
23,9,1713449629925,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
26,9,1713449631037,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
32,9,1713449640012,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
35,9,1713449641022,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN

,eventId,timestamp,Session,User,Game,EnemyType
5,10,1713449606012,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,1.0
8,10,1713449609005,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,0.0
9,10,1713449610213,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,0.0
13,10,1713449612852,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,1.0
20,10,1713449620631,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,3.0
21,10,1713449629912,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,0.0
24,10,1713449630914,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,0.0
30,10,1713449639992,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,0.0
33,10,1713449640994,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,0.0

,eventId,timestamp,Session,User,Game,EnemyType
2,12,1713449601143,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
3,12,1713449601605,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN
4,12,1713449601933,c191363b-5afc-4203-b910-f0452a3ccc5b,d162fc53-a8c6-4251-aa6b-bd64d0374627,NaN,NaN