In [52]:
import pandas as pd

In [53]:
jsonFile = pd.read_json("./MyFile5.json")

In [54]:
x = pd.json_normalize(jsonFile['data'])
groupedEvents = x.groupby('eventId')
for eid, group in groupedEvents:
    display(group)
    ##display(eid)

,eventId,timestamp,Session,User,Game,EnemyType
0,0,1713781020013,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,SteamMazehemGame,NaN

,eventId,timestamp,Session,User,Game,EnemyType
17,1,1713781103486,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN

,eventId,timestamp,Session,User,Game,EnemyType
4,8,1713781084139,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
5,8,1713781085951,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
7,8,1713781087959,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
9,8,1713781092993,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
11,8,1713781094297,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
14,8,1713781095393,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
16,8,1713781098958,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN

,eventId,timestamp,Session,User,Game,EnemyType
12,9,1713781094297,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
15,9,1713781095393,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN

,eventId,timestamp,Session,User,Game,EnemyType
6,10,1713781087881,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,2.0
8,10,1713781092757,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,0.0
10,10,1713781093826,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,0.0
13,10,1713781094925,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,0.0

,eventId,timestamp,Session,User,Game,EnemyType
1,12,1713781079313,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
2,12,1713781079897,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
3,12,1713781080536,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN

### Los eventos y sus ID:
- SessionStart = 0
- SessionStop = 1
- GameStart = 2
- GameEnd = 3
- LevelStart = 4
- LevelEnd = 5
- Pause = 6
- Resume = 7
- //
- Attack = 8
- EnemyReceive = 9
- PlayerReceive = 10
- PlayerDead = 11
- RoomMove = 12

# Métrica 1: Tiempo de finalización de nivel
¿El jugador tarda demasiado tiempo en completar cada uno de los dos niveles?

In [55]:
from datetime import datetime

## estoy usando los de la sesion por ahora, pero se haria con los de cada nivel.
startEvent = groupedEvents.get_group(0)
display(startEvent)
endEvent = groupedEvents.get_group(1)
display(endEvent)

a = startEvent.get("timestamp").values[0]
b = endEvent.get("timestamp").values[0]

# Convertir el timestamp de milisegundos a segundos
a_seconds = a / 1000
b_seconds = b / 1000

print("TIME: ")
print((b_seconds - a_seconds)/60, " minutos")

# Crear objetos datetime a partir de los timestamps
dt_object_start = datetime.fromtimestamp(a_seconds)
dt_object_end = datetime.fromtimestamp(b_seconds)

# Imprimir los objetos datetime y sus tipos
print("Start time: ", dt_object_start)
print("End time: ", dt_object_end)

,eventId,timestamp,Session,User,Game,EnemyType
0,0,1713781020013,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,SteamMazehemGame,NaN

,eventId,timestamp,Session,User,Game,EnemyType
17,1,1713781103486,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN

TIME:
1.3912166674931845  minutos
Start time:  2024-04-22 12:17:00.013000
End time:  2024-04-22 12:18:23.486000

# Métrica 2: Cantidad de movimientos por nivel
¿El jugador usa demasiados movimientos de salas en cada uno de los dos niveles?

In [56]:
# FALTA AGRUPAR POR NIVELES
room_moves = groupedEvents.get_group(12)
display(room_moves)

# Se agrupan los movimientos por sesión y se cuenta el número de cada una
movements = room_moves.groupby('Session').size().reset_index(name='Movements')

print("Session movements:\n")
print(movements.to_string(index=False))

,eventId,timestamp,Session,User,Game,EnemyType
1,12,1713781079313,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
2,12,1713781079897,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
3,12,1713781080536,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN

Session movements:

                             Session  Movements
45c93409-c4ac-4a12-9974-316eb0d61394          3

# Métrica 3: Precisión de golpes a los enemigos
¿El jugador falla significativamente más ataques en el nivel 2 que en el nivel 1?

In [67]:
# FALTA AGRUPAR POR NIVELES
attack = groupedEvents.get_group(8)
enemy_receive = groupedEvents.get_group(9)
display(attack)
display(enemy_receive)

# Se agrupan los ataques realizados y los recibidos por los enemigos y se cuenta el número de cada uno
attack_count = attack.groupby('Session').size().reset_index(name='Total Attacks')
hit_count = enemy_receive.groupby('Session').size().reset_index(name='Total Hits')

# Agrupar los datos en un único dataframe
accuracy = pd.merge(attack_count, hit_count, on='Session', how='left')
accuracy['Total Hits'] = accuracy['Total Hits'].fillna(0)

# Calcular la precisión de los golpes
accuracy['Accuracy'] = (accuracy['Total Hits'] / accuracy['Total Attacks']) * 100

# Calcular el porcentaje
accuracy['Accuracy'] = accuracy['Accuracy'].apply(lambda x: f"{x:.3f}%")

print("Hit accuracy:\n")
print(accuracy[['Session', 'Accuracy']].to_string(index=False))

,eventId,timestamp,Session,User,Game,EnemyType
4,8,1713781084139,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
5,8,1713781085951,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
7,8,1713781087959,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
9,8,1713781092993,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
11,8,1713781094297,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
14,8,1713781095393,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
16,8,1713781098958,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN

,eventId,timestamp,Session,User,Game,EnemyType
12,9,1713781094297,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN
15,9,1713781095393,45c93409-c4ac-4a12-9974-316eb0d61394,998a7755-cdfe-41e3-99eb-63216ef81f78,NaN,NaN

Hit accuracy:

                             Session Accuracy
45c93409-c4ac-4a12-9974-316eb0d61394  28.571%

# Métrica 4: Impactos de los elementos dañinos
¿Es coherente la variación del daño provocado por cada elemento dañino a lo largo de los dos niveles?