In [1]:
import pandas as pd

In [2]:
jsonFile = pd.read_json("../PruebasNivel.json")

In [3]:
x = pd.json_normalize(jsonFile['data'])
groupedEvents = x.groupby('eventId')
for eid, group in groupedEvents:
    display(group)
    ##display(eid)

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
0,0,1713827411913,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,SteamMazehemGame,NaN,NaN,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
13,1,1713827490169,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,NaN,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
1,4,1713827418262,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,0.0,NaN,NaN
12,4,1713827482531,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,1.0,NaN,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
11,5,1713827482531,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,0.0,NaN,0.0

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
3,8,1713827444907,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,NaN,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
2,10,1713827442554,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,2.0,NaN
6,10,1713827456453,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,0.0,NaN
7,10,1713827458136,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,0.0,NaN
8,10,1713827459251,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,2.0,NaN
10,10,1713827464379,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,0.0,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
4,12,1713827453140,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,NaN,NaN
5,12,1713827453555,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,NaN,NaN
9,12,1713827460443,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,NaN,NaN

### Los eventos y sus ID:
- SessionStart = 0
- SessionStop = 1
- GameStart = 2
- GameEnd = 3
- LevelStart = 4
- LevelEnd = 5
- Pause = 6
- Resume = 7
- //
- Attack = 8
- EnemyReceive = 9
- PlayerReceive = 10
- PlayerDead = 11
- RoomMove = 12

# Métrica 1: Tiempo de finalización de nivel
¿El jugador tarda demasiado tiempo en completar cada uno de los dos niveles?

In [4]:
from datetime import datetime

## estoy usando los de la sesion por ahora, pero se haria con los de cada nivel.
startEvent = groupedEvents.get_group(0)
display(startEvent)
endEvent = groupedEvents.get_group(1)
display(endEvent)

a = startEvent.get("timestamp").values[0]
b = endEvent.get("timestamp").values[0]

# Convertir el timestamp de milisegundos a segundos
a_seconds = a / 1000
b_seconds = b / 1000

print("TIME: ")
print((b_seconds - a_seconds)/60, " minutos")

# Crear objetos datetime a partir de los timestamps
dt_object_start = datetime.fromtimestamp(a_seconds)
dt_object_end = datetime.fromtimestamp(b_seconds)

# Imprimir los objetos datetime y sus tipos
print("Start time: ", dt_object_start)
print("End time: ", dt_object_end)

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
0,0,1713827411913,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,SteamMazehemGame,NaN,NaN,NaN

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
13,1,1713827490169,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,NaN,NaN

TIME:
1.304266663392385  minutos
Start time:  2024-04-23 01:10:11.913000
End time:  2024-04-23 01:11:30.169000

# Métrica 2: Cantidad de movimientos por nivel
¿El jugador usa demasiados movimientos de salas en cada uno de los dos niveles?

In [5]:
# FALTA AGRUPAR POR NIVELES
room_moves = groupedEvents.get_group(12)
display(room_moves)

# Se agrupan los movimientos por sesión y se cuenta el número de cada una
movements = room_moves.groupby('Session').size().reset_index(name='Movements')

print("Session movements:\n")
print(movements.to_string(index=False))

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
4,12,1713827453140,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,NaN,NaN
5,12,1713827453555,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,NaN,NaN
9,12,1713827460443,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,NaN,NaN

Session movements:

                             Session  Movements
ece314d7-cadb-48ea-826b-e2871e2b7ada          3

# Métrica 3: Precisión de golpes a los enemigos
¿El jugador falla significativamente más ataques en el nivel 2 que en el nivel 1?

In [7]:
# FALTA AGRUPAR POR NIVELES
# Verificar si los grupos existen antes de acceder a ellos
if 8 in groupedEvents.groups:
    attack = groupedEvents.get_group(8)
    enemy_receive = groupedEvents.get_group(9) if 9 in groupedEvents.groups else None
    
    display(attack)
    display(enemy_receive)

    # Se agrupan los ataques realizados y los recibidos por los enemigos y se cuenta el número de cada uno
    attack_count = attack.groupby('Session').size().reset_index(name='Total Attacks')
    
    # Si el grupo 9 existe, contamos los aciertos; de lo contrario, asumimos que son 0
    if enemy_receive is not None:
        hit_count = enemy_receive.groupby('Session').size().reset_index(name='Total Hits')
    else:
        hit_count = pd.DataFrame({'Session': attack_count['Session'], 'Total Hits': 0})
    
    # Agrupar los datos en un único dataframe
    accuracy = pd.merge(attack_count, hit_count, on='Session', how='left')
    accuracy['Total Hits'] = accuracy['Total Hits'].fillna(0)

    # Calcular la precisión de los golpes
    accuracy['Accuracy'] = (accuracy['Total Hits'] / accuracy['Total Attacks']) * 100
    accuracy['Accuracy'] = accuracy['Accuracy'].apply(lambda x: f"{x:.3f}%")

    print("Hit accuracy:\n")
    print(accuracy[['Session', 'Accuracy']].to_string(index=False))
else:
    print("El grupo 8 no existe en el DataFrame 'groupedEvents'. No se pueden calcular las estadísticas.")

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
3,8,1713827444907,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,NaN,NaN

None

Hit accuracy:

                             Session Accuracy
ece314d7-cadb-48ea-826b-e2871e2b7ada   0.000%

# Métrica 4: Impactos de los elementos dañinos
¿Es coherente la variación del daño provocado por cada elemento dañino a lo largo de los dos niveles?

In [8]:
# FALTA AGRUPAR POR NIVELES
player_receive = groupedEvents.get_group(10)
display(player_receive)

# Se agrupan los impactos por sesión y tipo de enemigo y se cuenta el número de cada una
impact_count = player_receive.groupby(['Session', 'EnemyType']).size().reset_index(name='Impacts')

# Impactos totales por sesión
total_impact_count = player_receive.groupby('Session').size().reset_index(name='Total Impacts')

# Agrupar los datos en un único dataframe
impact_count = impact_count.merge(total_impact_count, on='Session', how='left')

# Calcular el porcentaje de impactos provocados por cada tipo de enemigo
impact_count['Enemy Percentage'] = (impact_count['Impacts'] / impact_count['Total Impacts']) * 100
impact_count['Enemy Percentage'].fillna(0, inplace=True)
impact_count['Enemy Percentage'] = impact_count['Enemy Percentage'].apply(lambda x: f"{x:.3f}%")

print("Enemy impacts:\n")
print(impact_count[['Session', 'EnemyType', 'Impacts', 'Enemy Percentage']].to_string(index=False))
print("\nTotal impacts: ", impact_count['Impacts'].sum())

,eventId,timestamp,Session,User,Game,LevelID,EnemyType,LevelEnd
2,10,1713827442554,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,2.0,NaN
6,10,1713827456453,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,0.0,NaN
7,10,1713827458136,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,0.0,NaN
8,10,1713827459251,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,2.0,NaN
10,10,1713827464379,ece314d7-cadb-48ea-826b-e2871e2b7ada,ee03ffd0-99bd-4408-87e1-c38aedf11d91,NaN,NaN,0.0,NaN

Enemy impacts:

                             Session  EnemyType  Impacts Enemy Percentage
ece314d7-cadb-48ea-826b-e2871e2b7ada        0.0        3          60.000%
ece314d7-cadb-48ea-826b-e2871e2b7ada        2.0        2          40.000%

Total impacts:  5